.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    gap: 8px;
    cursor: pointer;
    padding: 8px 4px;
    width: 110px;
    margin-top: 3.5vh;
    margin-left: 1.5vw;
    user-select: none;
}

.icon:hover {
    background-color: rgba(255, 255, 255, .2);
}

.icon h2 {
    font-size: 12px;
}

.container {
    position: absolute;
    top: 10%;
    left: 20%;
    width: 50vw;
    height: 60vh;
    border: 1px solid #025aee;
    background-color: #025aee;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    animation: scaleIn 0.2s ease-out forwards;
    transform-origin: center;
}

.container.closing {
    animation: scaleOut 0.2s ease-in forwards;
}

@keyframes scaleIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scaleOut {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}

.nav {
    display: flex;
    width: 100%;
    align-items: center;
    cursor: grab;
    user-select: none;
    padding: 4px 4px;
}

.title {
    color: white;
    font-size: 12px;
    margin-left: 4px;
}

.close {
    margin-left: auto;
    cursor: pointer;
    transition: filter 0.2s ease;
}

.close:hover {
    filter: brightness(1.3) saturate(1.2) hue-rotate(0deg);
}

.grabbing {
    cursor: grabbing !important;
}

.canvas {
    background-color: #fff;
    overflow: scroll;
    flex: 1;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 0 20px;
    margin-top: 12px;
}

.about a {
    color: #025aee;
    text-decoration: underline;
}

.wordart {
    font-family: Arial, sans-serif;
    font-size: 4em;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wordart h1 {
    font-family: Impact, sans-serif;
    color: #24c0fd;
    -webkit-text-stroke: 0.01em #0000aa;
    filter: progid:DXImageTransform.Microsoft.Glow(Color=#0000aa, Strength=1);
    text-shadow: 0.13em -0.13em 0px #0000aa;
    letter-spacing: -0.05em;
}

.about span {
    background-color: sandybrown;
}

.about p {
    text-indent: 20px;
}

.masonryItem {
    display: block;
    width: 100%;
}

.masonryItem img,
.masonryItem video {
    display: block;
    width: 100%;
    height: auto;
}