.page {
    height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "content"
        "footer";
    color: #fff;
}

.header {
    grid-area: header;
    height: 10vh;
    width: 100vw;
    background-color: #00309c;
    border-bottom: 1px solid #9fb7ee;
}

.content {
    grid-area: content;
    background-color: #5a7edc;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.metaData {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 32px;
    gap: 12px;
}

.metaData h2 {
    font-size: 20px;
}

.metaData p {
    font-size: 16px;
}

.usernameContainer {
    width: 20%;
    margin-left: 32px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    cursor: pointer;
    padding: 8px;
    gap: 12px;
}

.usernameContainer:hover {
    background-color: #4966b2;
    border-radius: 8px;
}

.usernameContainer img {
    border-radius: 8px;
    border: 3px solid #b5bb5d;
}

.usernameContainer p {
    font-size: 16px;
}

.seperator {
    width: 1px;
    height: 90%;
    background-color: #7193e4;
}

.footer {
    grid-area: footer;
    height: 10vh;
    width: 100vw;
    background-color: #00309c;
    border-top: 1px solid #ac7648;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
}

.footer p {
    font-size: 12px;
}

.turnOffContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.turnOffContainer img {
    cursor: pointer;
    transition: filter 0.2s ease;
}

.turnOffContainer img:hover {
    filter: brightness(1.3) saturate(1.2) hue-rotate(0deg);
}

.turnOffContainer h2 {
    font-size: 16px;
}