/* .page {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    max-width: 100vw;
    padding: 32px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.header img:hover {
    filter: brightness(1.3) saturate(1.2) hue-rotate(0deg);
}

.logo {
    width: 100%;
    height: 50px;
}


.heroSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.iphoneMockup {
    width: 40%;
    max-height: 600px;
} */